<tr id=<%= "cliente_#{cliente.id}" %>>
	
	<td><%= cliente.nombre_empresa %></td>
    <td><%= cliente.nombre_solicita_servicio %></td>
    <td><%= cliente.telefono_empresa %></td>
    <td><%= cliente.telefono_contacto %></td>
    <td><%= cliente.correo_empresa %></td>
    <td><%= cliente.correo_contacto %></td>
    <td><%=l cliente.created_at %></td>

	<td>
		<%= link_to 'Mostrar', cliente, :remote => true, :class => 'btn btn-mini' %>
        <%= link_to 'Editar', edit_cliente_path(cliente), :remote => true, :class => 'btn btn-mini' %>
        <%= link_to 'Eliminar', cliente,  :data => { :confirm => 'Esta Seguro?' }, :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
	</td>
</tr>	