<%= simple_form_for(@cliente, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <div class="modal-body">
    <div class="control-group span10">
      <div class="row">
        <div class="span5">
          <%= f.input :nombres %>
          <%= f.input :apellidos %>
          <%= f.input :cedula %>
          <%= f.input :empresa %>
          <%= f.input :nit %>
          <%= f.input :cargo %>
        </div>

        <div class="span2">
          <div class="row">
            <%= f.input :telefono %>
            <%= f.input :direccion %>
            <%= f.input :celular %>
            <%= f.input :fax %>
            <%= f.input :email %>
            <%= f.input :municipio_nombre, :url => autocomplete_municipio_nombre_clientes_path, :as => :autocomplete, :id_element => '#id'%>
          </div>
        </div>
      </div>
    </div>
    <%= f.button :submit, :class => 'btn-primary btn-success' %>
    <%= link_to "cancelar", clientes_path, :class => 'btn btn-success' %>
  </div>  
<% end %>
