<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Cliente<%= @cliente.nombre_empresa %></h1>
</div>

<div class="cliente">
  <td><%= @cliente.nombre_empresa %></td>
  <td><%= @cliente.nombre_solicita_servicio %></td>
  <td><%= @cliente.telefono_empresa %></td>
  <td><%= @cliente.telefono_contacto %></td>
  <td><%= @cliente.correo_empresa %></td>
  <td><%= @cliente.correo_contacto %></td>
</div>
