<%- model_class = Cliente -%>
<div class="page-header">

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
      <h1>Cliente:<%= @cliente.nombres %></h1>
   </div>
  
</div>


<div class="row">

  <div class="span2">
    <p><%= @cliente.nombres %></p>
    <p><%= @cliente.apellidos %></p>
    <p><%= @cliente.cedula %></p>
    <p><%= @cliente.empresa %></p>
    <p><%= @cliente.nit %></p>
    <p><%= @cliente.cargo %></p>
  </div>
  <div class="span2">
      <div class="row">
        <p><%= @cliente.telefono %></p>
        <p><%= @cliente.direccion %></p>
        <p><%= @cliente.celular %></p>
        <p><%= @cliente.fax %></p>
        <p><%= @cliente.email %></p>
        <p><%= @cliente.municipio.nombre %></p>
       
      </div>
  </div>    
</div> 

