<%= javascript_include_tag "servupdate.js" %>
<%= simple_form_for([@detalle,@cotizacion], :html => {:multipart => true, :class => 'form-horizontal' }, :remote => true)  do |f| %>
  <div class="responsive">
    <div class="modal-body">  
      <div class="row">
        <div class="span6">
          <div  class="control-group">
            <label class="control-label" for="inputName">Servicios</label>
            <div class="controls">
              <%= f.collection_select :servicio_id, Servicio.all,:id,:nombre, :order => 'nombre', :label => false, :required => true, :prompt => "Seleccione un Servicio",:input_html => {:class => 'span2' }  %>
            </div>
          </div>
          <div class="control-group" id="esctDi">
            <div class="controls">
              
              <%= render :partial => 'detalle', :object => @detalles %>
            </div>
          </div>
          <div class="control-group" id="none">
            <label class="control-label" for="inputName">Precio</label>
            <div class="control-group" id="none">
              <%= f.input :precio , :label => false, :required => true, :input_html => {:class => 'span2', :readonly => true  } %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">total</label>
            <div class="control-group">
              <%= f.input :total , :label => false, :required => true, :input_html => {:class => 'span2',:readonly => true  } %>
            </div>
          </div>
        </div>  
      </div>
       <%= f.button :submit, :class => 'btn-primary' %>
    </div>
  </div>
<% end %>
   

