<%= javascript_include_tag "application.js" %>
<%= simple_form_for([@escalado_talla,@cotizacion], :html => { :class => 'form-horizontal' }, :remote => true)  do |f| %>
  <div class="responsive">
    <div class="modal-body">  
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label" for="inputName">Escalado Tallas</label>
            <label class="control-label" for="inputName">Numero de Piezas</label>
            <div class="controls">
              <%= f.collection_select :escalado_talla, EscaladoTalla.all,:id,:pieza, :order => 'pieza', :label => false, :required => true, :promp => "seleccione la cantidad de piezas",:input_html => {:class => 'span2' }  %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">Cantidad Consumida</label>
            <div class="control-group">
              <%= f.input :precio_escala , :label => false, :required => true, :input_html => {:class => 'span2'  } %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">Patronaje Basico</label>
            <label class="control-label" for="inputName">Numero de piezas</label>
            <div class="controls">
              <%= f.collection_select  :patronaje_basico, PatronajeBasico.all, :id, :pieza, :order => 'pieza', :label => false, :required => true, :input_html => {:class => 'span2' } %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">Precio patronaje basico</label>
            <div class="control-group">
              <%= f.input :precio_patro , :label => false, :required => true, :input_html => {:class => 'span2'  } %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">total</label>
            <div class="control-group">
              <%= f.input :total , :label => false, :required => true, :input_html => {:class => 'span2'  } %>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
<% end %>
   

