<%- model_class = Contacto -%>
<div class="page-header">
  <h1>Formulario de Contacto</h1>
</div>

<div id="contactos">
  <p><%= @contacto.nombre %></p>
  <p><%= @contacto.apellido %></p>
  <p><%= @contacto.telefono %></p>
  <p><%= @contacto.celular %></p>
  <p><%= @contacto.email %></p>
</div>