<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
	
	<h1>correo de contacto</h1>

	<h3>DE CLASE MUNDIAL<h3></p>

	<p>nombre: <%= @contactos.nombre %></p>

	<p>apellido: <%= @contactos.apellido %></p>

	<p>telefono: <%= @contactos.telefono %></p>

	<p>celular: <%= @contactos.celular %></p>

	<p>correo: <%= @contactos.email %></p>

	<p>fecha: <%=l @contactos.created_at %></p>
     </body>
</html>
